<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>REGISTRATION</h1>
    <form method="POST" th:object="${user}">
        <label for="name">Name:</label><input type="text" th:field="*{name}" id="name">
        <br/>
        <label for="surname">Surname:</label><input type="text" th:field="*{surname}" id="surname">
        <br/>
        <label for="patronymic">Patronymic:</label><input type="text" th:field="*{patronymic}" id="patronymic">
        <br/>
        <label for="age">Age:</label><input type="text" th:field="*{age}" id="age">
        <br/>
        <label for="university">University:</label><input type="text" th:field="*{university}" id="university">
        <br/>
        <label for="workplace">Workplace:</label><input type="text" th:field="*{workplace}" id="workplace">
        <br/>
        <label for="email">Email:</label><input type="text" th:field="*{email}" id="email">
        <br/>
        <label for="password">Password:</label><input type="password" th:field="*{password}" id="password">
        <br/>
        <input type="submit" value="Create account">
    </form>
</body>
</html>